/* Lakeland Reeds Bed and Breakfast */
@font-face {
  font-family: 'CuprumFFURegular';
  src: url('fonts/Cuprum-webfont.eot');
  src: local('☺'), url('fonts/Cuprum-webfont.woff') format('woff'), url('fonts/Cuprum-webfont.ttf') format('truetype'), url('fonts/Cuprum-webfont.svg#webfontKLktnWy4') format('svg');
  font-weight: normal;
  font-style: normal;
  }
body {
  padding: 0;
  margin: 0;
  font-family: tahoma, arial, helvetica, sans-serif;
  }
h1, h2 {
  text-align: center;
  font-family: CuprumFFURegular, georgia, "times new roman", times, serif;
  }
h1 {
  margin: 0;
  font-size: 2em;
  color: white;
  background: #422100;
  line-height: 1.75em;
  }
h2 {
  font-size: 1.5em;
  }
h3 {
  font-size: 1.1em;
  }
#skipnav {
  width: 40em;
  text-align: right;
  color: #422100;
  margin: 0 auto;
  padding: 0.25em;
  }
#mainnav {
  text-align: center;
  background: #B8944D;
  padding: 0.25em;
  margin: 0;
  }
#pagenav {
  text-align: center;
  color: white;
  background: #422100;
  padding: 0.25em;
  margin: 0;
  }
#box {
  border: 0.25em solid #422100;
  width: 40em;
  padding: 1em;
  margin-left: auto; 
  margin-right: auto;
  background: #F0E68C;
  }
#contact {
  padding: 0.25em 1.5em;
  background: #B8944D;
  }
#title {
  font-style: italic;
  }
#name {
  font-weight: bold;
  }
#footer {
  background: #B8944D;
  text-align: center;
  padding: 0.25em;
  margin: 0;
  }
.callout {
  font-weight: bold;
  }
.desc {
  padding: 0 3em;
  margin: 0;
  }
.beds {
  padding: 0 3em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
  }
.toplink {
  text-align: right;
  padding: 0 1em 0.25em 0;
  margin: 0;
  }